.DS_Store
assets/scss/.sass-cache/*
node_modules/
bower_components/
npm-debug.log
.idea
.env
/assets/scss/*.css
/.sass-cache/
/vendor/
upload-script-temp.php
query_result.csv

config.rb

upload-script-temp.csv
