.DS_Store

assets/scss/.sass-cache/*
/assets/scss/*.css
/.sass-cache/

node_modules/*
bower_components/*

vendor/bin/*
vendor/dealerdirect/*
vendor/squizlabs/*
vendor/wp-coding-standards/*

.idea
.env

config.rb
package-lock.json
npm-debug.log
