
body {
    background-position: center top;
    font-family: Roboto, Arial, sans-serif !important;
}
.course-steps {
    font-size: 1.5rem;
}
.course-steps.wizard > .actions {
    margin-top: 0.5rem;
}
.gray-bar {
    min-height:1px;
    width:100%;
    display:block;
    position:relative;
    top:50px;
    background-color:#999999;
}
#sign-up-btn {
    font-size:16px;
}
h1 {
    font-size:32px;
    font-weight:600;
    line-height:1.3em;
}
h4 {
    font-size:20px;
}

.container-full
{
    width:100%;
    padding: 0 15px;
}
.max-content-width {
    max-width: 1300px;
    margin-right:auto;
    margin-left:auto;
    padding-left:10px;
    padding-right:10px;
}

@media (max-width:1199px) {
    #sign-up-btn {
        font-size:12px;
    }

    #knowmore {
        display:none;
    }

    h1 {
        font-size:20px;
    }

    h4 {
        font-size:15px;
    }

    .gray-bar{display:none;}
    .navbar-fixed-top
    {
        position:relative;
    }
    #video-container{margin-top:0px;}
}


#logo-container {
    margin:0 auto;
    position:relative;
    margin-bottom:25px;
}

#video-container {
    position:relative;
}

#sign-up-container {
    background: #F4F4F4;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

#sign-up-container label {
    margin-bottom: 0;
}

/************************************************************/

/** Default Mobile First Styles **/

.user {
    width:50px;
}

#logo {
    margin-top:10px;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.padding-bottom {
    padding-bottom: 15px;
}


#play img {
    width: 100%;
}


h1.uppercase.font-zume-purple {
    display:none;
}

div.mt-element-step {
    display:none;
}

.mt-element-step .step-line .active .mt-step-number {
    color: #00aeef !important;
    border-color: #00aeef !important;
}



.mt-element-step .step-line .active .mt-step-title:before, .mt-element-step .step-line .active .mt-step-title:after {
    border-color: #00aeef !important;
    background-color: #00aeef;
}


div.block {
    padding: 20px;
    /*max-width: 800px;*/
    margin: 0 auto;
}

.course-steps .steps {
    margin-bottom: 30px;
}

.step-title {
    /*text-transform: lowercase !important;*/
    text-align: center !important;
    font-weight: 600 !important;
    color: #323a68 !important;
    font-family: Helvetica,Roboto,Arial,sans-serif !important;
    font-size: 2rem !important;
    line-height: 1.4 !important;
    margin-top: 2rem !important;
    margin-bottom: 3rem !important;
}

.session-title {
    text-align: center !important;
    /*font-weight: 600 !important;*/
    color: #323a68 !important;
    font-family: Helvetica,Roboto,Arial,sans-serif !important;
    font-size: 1.5rem !important;
    line-height: 1.4 !important;
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
}

.read-section {
    font-weight: 600;
}

div.activity-title {
    color: #062d6d;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

div.activity-title span {
    font-size: 40px;
    text-transform: uppercase;
}

div.activity-description {
    padding-top: 12px;
    /*text-align: center;*/
    font-size: 18px;
    margin-bottom: 2em !important;
}

div.activity-description {
    padding: 12px 0 12px 6%;
    text-align: left;
    float: right;
    border-left: solid 4px #00aeff;
    font-size: 1.5rem;
}

div.activity-description ol, div.activity-description ul {
    text-align: left;
}

div.activity-description ol li, div.activity-description ul li {
    padding:5px 0 5px;
}

div.video-section {
    margin-bottom: 2em !important;
}
div.video-section a {
    font-size: 20px;
}


.wistia_embed {
    height: 200px;
    width: 100%;
}

.btn-wide {
    width:100%;
}

.btn-wide span {
    display: none;
}

div.single .activity-description {
    border: 0;
    float: none;
    max-width: 600px;
}

button.btn.btn-large.next-step.zume-purple.uppercase.bg-white.font-zume-purple.big-btn i {
    display: none;
}

/*Small devices*/
@media (max-width: 640px) {
    .easy-1-2-3 h4 {
        padding-left: 40px;
    }
    h3 {
        font-size: 24px
    }
    div.activity-description {
        border-left: 0px;
    }
}

/*  (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .wistia_embed {
        height: 300px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 640px) {

    .wistia_embed {
        height: 350px;
    }

    .btn-wide span {
        display: inline-block;
    }
    div.activity-description {
        font-size: 1.5rem;
        border-left: 0px;
    }

    .easy-1-2-3 h4 {
        text-align: center;
    }
}

/*Large devices (desktops, 992px and up)*/
@media screen and (min-width: 1200px) {

    h1.uppercase.font-zume-purple {
        display:block;
    }

    div.mt-element-step {
        display:block;
    }

    div.block {
        /*padding: 0 0 40px;*/

    }

    div.step-title {
        text-align: center;
        font-weight: 300;
    }

    div.activity-title {
        color: #062d6d;
        font-size: 40px;
        float: left;
        width: 25%;
        font-weight: bold;
        text-align:left;
    }

    div.activity-description {
        padding: 12px 0 12px 6%;
        text-align: left;
        float: right;
        width: 68%;
        border-left: solid 4px #00aeff;
        font-size: 1.5rem;
    }

    div.single .activity-description {
        border: 0;
        float: none;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        padding: 20px;
    }

    div.video-block {
        padding: 0 10% 40px 10%;
    }

    .wistia_embed {
        height: 450px;
    }

}

div.activity-description-no-border {
    padding: 12px 0 12px 0;
    text-align: left;
    float: right;
    width: 68%;
    font-size: 1.5rem;
}

/*Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {

    .wistia_embed {
        height: 450px;
        width: 800px;
    }

}


#session {
    margin: 0 auto;
}

/* Buddy press modifications */
body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
    margin-top: 10px;
}

body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions h2 {
    color: #ffffff;
}

.chevron:before {
    font-size: 2.5rem;
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.45em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
}

.chevron > span {
    display: none;
}

.chevron--right:before {
    left: 0;
    transform: rotate(45deg);
}

.chevron--bottom:before {
    top: 0;
    transform: rotate(135deg);
}

.chevron--left:before {
    left: 0;
    transform: rotate(-135deg);
}

/* Modifies the mobile steps progress bar to shrink and remove connecting lines */
@media only screen and (max-width: 639px) {
    .course-steps.wizard .steps li:not(:last-child):after {
        content: "";
        position: absolute;
        border: 0;
        left: 0;
        top: 0;
        width: 0;
    }
    .course-steps.wizard>.steps li:not(:first-child):before {
        content: "";
        position: absolute;
        border: 0;
        left: 0;
        top: 0;
        width: 0;
    }


}

/* Style override to bring the lists within boundaries. */
dl, ol, ul {
    /*list-style-position: inside;*/
}

/* Removes the previous button on the steps wizard*/
.wizard > .actions > ul > li.disabled {
    display: none;
}

/* Adds override used for forcing multiple languages to use caps in a certain style*/
.text-uppercase {
    text-transform: uppercase;
}

#overview h3.vertical-padding {
    /*max-width:800px;*/
    background: #323a68;
    color: white;
    padding: 5px;
    margin-top:100px;
    margin-bottom: 50px;
    text-align: center;
}

.overview {
    margin-top:20px;
}

.session-boxes {
    background-color: #E7F6FC;
    border: 1px solid #00aeff;
}
.course-steps.wizard>.steps li:not(:first-child):before {
    @media (max-width: $breakpoint-medium ) {
        border:0;
    }
}

div.video-section {
    width:50%;
    margin: 0 auto 1em !important;

    @media (max-width: $breakpoint-medium ) {
        width:100%;
    }
}

div.alt-video-section {
    width:800px;
    height:540px;
    margin: 0 auto;

    @media (max-width: $breakpoint-medium ) {
    }
}

div.about-video-section {
    width:640px;
    margin: 0 auto;

    @media (max-width: $breakpoint-medium ) {
    }
}

#hide-course-top-bar {
    float:right;
    color: $primary-color;
    cursor:pointer;
}
