.home {

    .deep-blue-section {
        background-color: $primary;
        border-bottom: 1px solid $primary;
        color: $white;

        h2 {
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            font-size: 3.5em;
            color: $white;
            text-align:center;
        }
        h3 {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 1.5em;
            color: $white;
        }
    }
    .light-blue-section {
        background-color: $secondary;
    }
    .white-section {
        background: $white;
        border-bottom: 1px solid $white;
        color: $primary;

        .large-text {
            color: $primary;
            font-size: $large-text;

            @media (max-width: $breakpoint-medium ) {
                font-weight:500;
                font-size: 1rem;
                margin-bottom:0;
            }
        }

        h2 {
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            font-size: 3.5em;
            color: $primary;
            text-align:center;
        }
        h3 {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 1.5em;
            color: $primary;
        }
    }

}
