#concepts-tools {
    h1 {
        font-size: $global-font-size * 2;
        font-weight: 600;
        line-height: 1.3em;
        color: $primary-color;
    }
    h2 {
        line-height: 1.2em;
        color: $primary-color;
        font-weight: 400;
        font-size: $global-font-size * 1.5;
    }
    h3 {
        line-height: 1.2em;
        color: $primary-color;
        font-weight: 300;
        font-size: $global-font-size * 1;
    }
    h4 {
        color: $primary-color;
        line-height: 1.2em;
        font-weight: 400;
    }
    .side-list {
        nav {
            margin-left:-1em;
        }
        ul {
            list-style-type: none;
        }
        li {
            line-height: 1.5em;
        }
        li.li-section {
            padding-bottom:1.2em;
        }
    }
    .host {
        .letter {
            width: 50px;
            height: 50px;
            border: 1px solid $secondary-color;
            background: $white;
            color: $secondary-color;
            line-height: 47px;
            font-weight: 600;
            display: inline-block;
            text-align: center;
            font-size: 30px;
            border-radius: 50%;
        }
        .letter.active {
            width: 50px;
            height: 50px;
            border: 1px solid $secondary-color;
            background: $secondary-color;
            color: $white;
            line-height: 47px;
            font-weight: 600;
            display: inline-block;
            text-align: center;
            font-size: 30px;
            border-radius: 50%;
        }
        .letter.disabled {
            width: 50px;
            height: 50px;
            border: 1px solid $dark-gray;
            background: $white;
            color: $dark-gray;
            line-height: 47px;
            font-weight: 600;
            display: inline-block;
            text-align: center;
            font-size: 30px;
            border-radius: 50%;
        }
        .label-big {
            font-size: 1.6em;
            vertical-align: middle;
        }
        tbody {
            border:0 solid white;
        }
        tr {
            border:0 solid white;
            vertical-align: middle;
        }
        .warning {
            color:$warning-color;
        }
        .success {
            color:$success-color;
        }
        .alert {
            color:$alert-color;
        }

    }
    .button-jumbo-action {
        background: $secondary-color;
        padding: 1.5em 1.5em;
        color: $white;
        font-size: 2em;
        cursor: pointer;
        border-radius: 5px;
    }
    .p-large {
        font-size: 150%;
        margin: 20px 0 40px 0;
        text-align: center;
    }
}
