#training {
    // General
    h1 {
        font-size: 32px;
        font-weight: 900;
        line-height: 1.3em;
        color: $primary-color;
    }
    h2 {
        font-size: 32px;
        font-weight: 300;
        line-height: 1.3em;
    }
    .t-description {
        color: $light-black;
        font-size: .8rem;
        line-height: 1rem;
        margin-bottom: .5rem;
        font-weight: 100;
    }
    .t-ad-message {
        font-weight:600;
        font-size: 1.2rem;
        margin-bottom:0;
    }
    .t-length {
        color: $light-black;
        font-weight: 100;
        text-align: right;
    }
    .t-activities {
        color: $light-black;
        font-weight: 300;
    }
    .start {
        text-align: right;
    }
    .toggle-icons {
        font-size:1.2rem;
        text-align: right;
        cursor: pointer;
        color: $light-black;
    }

    // Tabs
    .tabs-panel {
        padding: 0;
    }

    // Groups Panel

    // Progress Panel
    .circle-background {
        font-size:4.7em;
        line-height: 1.7em;
        text-align: center;
        margin: 0 auto;
        width:1.7em;
        height:1.7em;
        color: $white;
        background-color: $secondary-color;
        border-radius: 50%;
        vertical-align: middle;

        @media (max-width: $breakpoint-medium ) {
            font-size: 2.2em;
        }
    }
    .progress-stat-title {
        font-size:2.5em;
        text-transform: uppercase;

        @media (max-width: $breakpoint-medium ) {
            font-size:1em;
        }
    }
    .progress-description {
        color: $light-black;
        padding: 1em;
        font-size: .8em;

        @media (max-width: $breakpoint-medium ) {
            display: none;
        }
    }
    .p-icon {
        border: 1px solid $secondary-color;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin:0 3px;
        display: inline-block;
        vertical-align: middle;

        @media (max-width: $breakpoint-medium ) {
            margin:0 10px;
            width: 30px;
            height: 30px;
        }
    }
    .complete {
        background-color: $secondary-color;
    }
    .progress-list {

        span {
            font-size: 1em;
            vertical-align: middle;
            line-height: 1em;
        }

        @media (max-width: $breakpoint-medium ) {
            text-align: center;

            span {
                font-size: 1.3em;
                display: block;
                padding:5px 0 10px;
            }
        }
    }
}
