
.congratulations-icon {
  background-image: url('../images/sprite-congratulations.png');
}

.button:hover .congratulations-icon-language {
  background-position: -0px -0px;
  width: 58px;
  height: 58px;
}
.button:hover .congratulations-icon-champion {
  background-position: -0px -58px;
  width: 58px;
  height: 58px;
}
.button:hover .congratulations-icon-contact-coach {
  background-position: -0px -116px;
  width: 58px;
  height: 58px;
}
.congratulations-icon-contact-coach {
  background-position: -0px -174px;
  width: 58px;
  height: 58px;
}
.button:hover .congratulations-icon-coordinator {
  background-position: -0px -232px;
  width: 58px;
  height: 58px;
}
.congratulations-icon-coordinator {
  background-position: -0px -290px;
  width: 58px;
  height: 58px;
}
.button:hover .congratulations-icon-invite {
  background-position: -0px -348px;
  width: 58px;
  height: 58px;
}
.congratulations-icon-invite {
  background-position: -0px -406px;
  width: 58px;
  height: 58px;
}
.congratulations-icon-champion {
  background-position: -0px -464px;
  width: 58px;
  height: 58px;
}
.congratulations-icon-language {
  background-position: -0px -522px;
  width: 58px;
  height: 58px;
}
.button:hover .congratulations-icon-learn-more {
  background-position: -0px -580px;
  width: 58px;
  height: 58px;
}
.congratulations-icon-learn-more {
  background-position: -0px -638px;
  width: 58px;
  height: 58px;
}
.button:hover .congratulations-icon-map {
  background-position: -0px -696px;
  width: 58px;
  height: 58px;
}
.congratulations-icon-map {
  background-position: -0px -754px;
  width: 58px;
  height: 58px;
}
.button:hover .congratulations-icon-share {
  background-position: -0px -812px;
  width: 58px;
  height: 58px;
}
.congratulations-icon-share {
  background-position: -0px -870px;
  width: 58px;
  height: 58px;
}
