#buddypress ul.item-list li div.action {
  margin-top: 15px;
  /*display:none;*/ }

#buddypress ul.item-list li div.meta {
  margin-top: 15px; }

#buddypress div#item-header div.generic-button {
  margin: 0; }
