
body {
    padding-top:12px;
    /*background-image: url(/images/artboard.jpg);*/
    background-position: center top;
    font-family: Helvetica, Roboto, Arial, sans-serif !important;
    padding-bottom:25px;
}
.course-steps {
    font-size: 1.5rem;
}
.course-steps.wizard > .actions {
    margin-top: 0.5rem;
}
.gray-bar {
    min-height:1px;
    width:100%;
    display:block;
    position:relative;
    top:50px;
    background-color:#999999;
}
#sign-up-btn {
    font-size:16px;
}
h1 {
    font-size:32px;

    font-weight:600;
    line-height:1.3em;
}
h4 {
    font-size:20px;
}

.container-full
{
    width:100%;
    padding: 0 15px;
}

@media (max-width:1199px) {
    #sign-up-btn {
        font-size:12px;
    }

    #knowmore {
        display:none;
    }

    h1 {
        font-size:20px;
    }

    h4 {
        font-size:15px;
    }

    .gray-bar{display:none;}
    .navbar-fixed-top
    {
        position:relative;
    }
    #video-container{margin-top:0px;}
}


#logo-container {
    margin:0 auto;
    position:relative;
    margin-bottom:25px;
}

#video-container {
    position:relative;
}

#sign-up-container {
    background: #F4F4F4;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

#sign-up-container label {
    margin-bottom: 0;
}

/************************************************************/

/** Default Mobile First Styles **/

.user {
    width:50px;
}

#logo {
    margin-top:10px;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.padding-bottom {
    padding-bottom: 15px;
}


#play img {
    width: 100%;
}


h1.uppercase.font-zume-purple {
    display:none;
}

div.mt-element-step {
    display:none;
}

.mt-element-step .step-line .active .mt-step-number {
    color: #00aeef !important;
    border-color: #00aeef !important;
}



.mt-element-step .step-line .active .mt-step-title:before, .mt-element-step .step-line .active .mt-step-title:after {
    border-color: #00aeef !important;
    background-color: #00aeef;
}


div.block {
    padding: 20px;
    /*max-width: 800px;*/
    margin: 0 auto;
}

div.step-title {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

div.activity-title {
    color: #062d6d;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

div.activity-title span {
    font-size: 40px;
}

div.activity-description {
    padding-top: 12px;
    text-align: center;
    font-size: 1.5rem;
}

div.activity-description ol, div.activity-description ul {
    text-align: left;
}

div.activity-description ol li, div.activity-description ul li {
    padding:5px 0 20px;
}

.wistia_embed {
    height: 200px;
    width: 100%;
}

.btn-wide {
    width:100%;
}

.btn-wide span {
    display: none;
}

div.single .activity-description {
    border: 0;
    float: none;
    max-width: 600px;
}

button.btn.btn-large.next-step.zume-purple.uppercase.bg-white.font-zume-purple.big-btn i {
    display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .wistia_embed {
        height: 300px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

    .wistia_embed {
        height: 350px;
    }

    .btn-wide span {
        display: inline-block;
    }

}

/*Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {

    h1.uppercase.font-zume-purple {
        display:block;
    }

    div.mt-element-step {
        display:block;
    }

    div.block {
        /*padding: 0 0 40px;*/

    }

    div.step-title {
        text-align: center;
        font-size: 20px;
        font-weight: 300;
    }

    div.activity-title {
        color: #062d6d;
        font-size: 50px;
        float: left;
        width: 25%;
        font-weight: bold;
        text-align:left;
    }

    div.activity-description {
        padding: 12px 0 12px 6%;
        text-align: left;
        float: right;
        width: 68%;
        border-left: solid 4px #00aeff;
    }

    div.single .activity-description {
        border: 0;
        float: none;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        padding: 20px;
    }

    div.video-block {
        padding: 0 10% 40px 10%;
    }

    .wistia_embed {
        height: 450px;
    }



}

/*Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {

    .wistia_embed {
        height: 450px;
        width: 800px;
    }

}






#session {
    margin: 0 auto;
}

/* Buddy press modifications */
body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
    margin-top: 10px;
}

body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions h2 {
    color: #ffffff;
}

.chevron:before {
    font-size: 2.5rem;
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.45em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
}

.chevron > span {
    display: none;
}

.chevron--right:before {
    left: 0;
    transform: rotate(45deg);
}

.chevron--bottom:before {
    top: 0;
    transform: rotate(135deg);
}

.chevron--left:before {
    left: 0;
    transform: rotate(-135deg);
}
